<% layout("/layouts/boilerplate") %>

<h1>Search Results for "<%= query %>"</h1>

<% if (listings.length === 0) { %>
  <p>No results found.</p>
<% } else { %>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% listings.forEach(listing => { %>
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
            </p>
          </div>
        </div>
      </a>
    <% }); %>
  </div>
<% } %>
